body { 
 background-color:#84C1FF; 
 } 
 p { 
  color:white; 
 }

 ul {
 	color:white;
 }

h2{
color:black;
}

body {  
	width: 1500px;  
	margin-left: auto;  
	margin-right: auto;  
	border-width: 10px;  
	border-style: solid;  
	border-color: white;  
	border-radius: 50px; 
	padding-left: 20px;  
	padding-right: 20px;
	padding-bottom: 25px;
}

div.Introduction {  
	border-width: 5px;  
	border-style: solid;  
	border-color: white;  
	border-radius: 50px;
	padding-left: 20px;  
	padding-right: 20px;
	padding-bottom: 10px;
	font-size: 25px;
	 }

img{   
  float: left; 
 }

div.Introduction-end {
  clear: both; 
}

div.Curriculum {
border-width: 5px;  
	border-style: solid;  
	border-color: white;  
	border-radius: 50px;
	padding-left: 20px;  
	padding-right: 20px;
	font-size: 25px;
}

div.Recently {
	border-width: 5px;  
	border-style: solid;  
	border-color: white;  
	border-radius: 50px;
	border-bottom: 20px;
	padding-left: 20px;  
	padding-right: 20px;
	padding-bottom: 20px;
	font-size: 25px;
}

div.Recently-end {
  clear: both; 
}

div.Passages {
	border-width: 5px;  
	border-style: solid;  
	border-color: white;  
	border-radius: 50px;
	border-bottom: 20px;
	padding-left: 20px;  
	padding-right: 20px;
	font-size: 20px;
}